.mat-raised-button{ 
    background-color:#90EE90;
    line-height: 1.5;
    font-size:90%;
}

.blue{color:blue}

.space-container{
     line-height: 1.4;
    .space-image{background-color:#F5F5F5;max-height: 240px;overflow:hidden}
}

.launch-active,.land-active,.year-active{ background-color: green;}

